
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */
.dark1 {
    color: #131313;
}

.dark2 {
    color: #424242;
}

p {
    font-size: 0.9rem;
}
.primary-btn {
    padding: 15px 20px;
    border: none;
    background-color: #FF900E;
    border-radius: 5px;
    cursor: pointer;
}
section {
    margin: 50px 0px;
}

body {
    font-family: "Work Sans", sans-serif;
}
header {
    background-color: hsla(32, 100%, 53%, 0.10);
    padding-bottom: 50px;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

header > nav > ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}
header > nav > ul > li > a {
    text-decoration: none;
    color: #424242;
}

/* hero-section */
.hero-section {
    max-width: 1100px ;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.hero-section h1 {
    font-size: 2rem;
} 
.hero-section > img {
    width: 100%;
}
.hero-section > p {
    width: 70%;
    margin: auto;
}
.hero-section > button > a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Main section starts here */
main {
    max-width: 1100px;
    margin: auto;
}

.quick-list-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.quick-list-features .features-images > img {
    width: 100%;
}
.quick-list-features .features-images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.features-details {
    width: 50%;
}
.features-details > h1 {
    font-size: 2rem;
    color: #131313;
} 
.features-details > h1>span:first-child{
    color: #424242;
}
.features-details > h1>span:last-child{
    color: #FF900E;
}
.features-details > p {
    color: #424242;
    margin: 24px auto;
    word-spacing: 0.4rem;
    line-height: 1.5rem;
}
.features-details > button > a {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: bold;
}

/* Some facts section */
.facts-section {
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.fact-details {
    width: 50%;
}
.fact-details > h1 {
    margin-bottom: 24px;
    color: #131313;
    font-size: 2rem;
}
.fact-details > p {
    color: #424242;
} 
.fact-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fact-card {
    border: 1px solid #FF900E;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: calc(90% / 4);
}
.fact-card > h1 {
    margin: 15px auto;
    color: #424242;
}
.fact-card > h3 {
    color: #424242;
    font-weight: 500;
}





/* Media query for smaller device */

@media screen and (max-width : 576px) {


    header > nav {
        display: none;
    }
    header {
        padding: 50px;
    }
    /* Features */
    .quick-list-features > .features-images {
        display: none;
    }
    .quick-list-features {
        justify-content: center;
        text-align: center;
    }
    .quick-list-features > .features-details > h1 {
        text-align: center;
    }

    /* Facts section  */
    .facts-section {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .fact-details {
        text-align: center;
    }
    .fact-cards {
        flex-direction: column;
        gap: 24px;
    }
    .fact-card {
        width: 100%;
    }
    
    

}